@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #1f2937;
  max-width: 70%;
  margin: auto;
  padding: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.section {
  padding: 100px 20px;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #f9faf8;
}

.header .logo {
  font-size: 24px;
  font-weight: 700;
}

.header .nav {
  display: flex;
  gap: 20px;
}

.header .nav a {
  color: #e5e7eb;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
}

.hero .text-container,
.hero img {
  flex: 1;
}

.text-container h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 5px;
  max-width: 80%;
}

.text-container p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 20px;
  max-width: 80%;
}

.text-container button {
  background-color: #3882f6;
  border: 2px solid transparent;
  color: #eee;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.hero img {
  min-width: 0; /* so image doesn't break outside container */
}
