@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Alegreya", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
    font-size: 18px;

    display: flex;
    gap: 25px;
}

li a {
    text-decoration: none;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 5px;
}

/* Styles for the navigation */
.navbar {
    background-color: #1f2937;
}

.navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

/* Styles for the header */
.header {
    background-color: #1f2937;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.hero-button {
    background-color: #3883f6;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 35px;
    cursor: pointer;
}

.header img {
    /* The image has space within it so it won't move is some cases */
    max-width: 440px;
}

.header .container {
    /* border: 2px solid white; */
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
}

/* Styles for the info section */
.info {
    background-color: #fff;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin: 35px 0;
}

.box img {
    object-fit: cover;
    width: 190px;
    height: 190px;
    border-radius: 30px;
    border: 4px solid black;
    box-shadow: 5px 3px rgb(147, 141, 141);
}

.info .container {
    /* border: 2px solid black; */
    min-height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 80px;
}

.box {
    max-width: 200px;
    text-align: center;
}

/* Styles for the quote */
.quote {
    background-color: #e5e7eb;
}

.quote .container p {
    font-size: 36px;
    color: #1f2937;
}

.quote .container div {
    font-size: 25px;
    font-weight: bold;
    align-self: flex-end;
}

.quote .container {
    /* border: 2px solid black; */
    min-height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 300px;
}

/* Styles for the call to action */
.call-to-action {
    /* border: 2px solid red; */
    background-color: #fff;
    min-height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    color: #f9faf8;
    font-size: 25px;
    font-weight: bold;
}

.description {
    color: #e5e7eb;
    font-size: 20px;
}

.call-to-action .container button {
    background-color: #3883f6;
    color: #e5e7eb;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px 35px;
    border-radius: 10px;
    cursor: pointer;
}

.call-to-action .container {
    /* border: 2px solid black; */
    background-color: #3883f6;
    border-radius: 15px;
    min-height: 150px;
    min-width: 1000px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Styles for the footer */
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 20px;
    min-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}